
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputurl {
  width: 45vw;
  background-color: transparent;
  padding: 20px;
  font-size:17px;
  color: white;
  border-radius: 20px;
  border-color: white;
  outline: none;

}

.submitbtn {
  margin-top: 20px;
  padding: 30px;
  background-color: transparent;
  border: 2px solid red; /* Simplified border property */
  outline: none;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  transition: background-color 0.3s ease; /* Smooth transition for background-color */
  margin: 20px;
}

.submitbtn:hover {
  background-color: red;
}

.imgdlbtn{
  width: 20vw;
  height: 60px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 17px;
  border-color: greenyellow;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;
  justify-content: center;
  align-self: center;
  outline: none;
  font-size: 17px;
  color: white;
  margin: 20px;


}

.imgdlbtn:hover {
  background-color: greenyellow;
  color: black;
}